.footer {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
  margin: 0;
}

.footer__copyright {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: white;
  max-width: 166px;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 768px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 320px;
  }
}
