.intro {
  margin: 0 auto;
  padding-top: 40px;
  width: 984px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.intro__title {
  padding-top: 40px;
  padding-bottom: 0px;
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  color: white;
  max-width: 830px;
}

.intro__text-subtitle {
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  color: white;
  max-width: 738px;
}

.intro__text-author {
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
  text-align: start;
  color: white;
  max-width: 722px;
}

.intro__text {
  text-align: left;
  padding-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: white;
  max-width: 722px;
}

@media screen and (max-width: 768px) {
  .intro {
    width: 720px;
    margin: 0;
  }

  .intro__title {
    max-width: 707px;
    font-size: 45px;
    padding: 0 24px;
  }

  .intro__text-subtitle {
    max-width: 720px;
    padding: 0 24px;
  }

  .intro__text-author {
    max-width: 720px;
    padding: 0 24px;
  }

  .intro__text {
    padding: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    width: 288px;
    margin: 0;
  }

  .intro__title {
    max-width: 288px;
    font-size: 32px;
    padding: 0 16px;
    line-height: 35px;
  }

  .intro__text-subtitle {
    max-width: 288px;
    padding: 0 16px;
    line-height: 30px;
  }

  .intro__text-author {
    max-width: 288px;
    padding: 0 16px;
  }

  .intro__text {
    max-width: 288px;
    padding: 0 16px;
  }
}
