.header {
  max-width: 1680;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 34px;
}
.header__logo {
  width: 254px;
  height: 70px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .header {
    max-width: 768px;
  }
  .header__logo {
    width: 254px;
    height: 66px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
  }
  .header__logo {
    width: 188px;
    height: 52px;
  }
}
